/* html elements */
body {
  font-family: "Montserrat-Black", sans-serif;
}
h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
  line-height: 1.5;
}
h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  font-family: "Montserrat-Black", sans-serif;
}
h3 {
  font-family: "Monstserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  margin: 20px 0;
}

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15% 7%;
}
.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}
.download-button {
  margin: 5% 3% 5% 0;
}
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features */
.features {
  text-align: center;
  padding: 10% 8%;
  background-color: white;
  position: relative;
}
.icon {
  font-size: 4rem;
  color: #ef8172;
}
.icon:hover {
  color: #ff4c68;
}

.features p {
  font-family: "Monstserrat-Black", sans-serif;
  font-weight: 900;
  color: #8f8f8f;
}
.feature-box {
  padding: 0 4%;
}
/* testimonial */
#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: white;
  padding-top: 10%;
}
.carousel-item {
  padding: 3% 15%;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 1%;
}
#press {
  background-color: #ef8172;
  padding: 5% 0;
  text-align: center;
}
.press-img {
  width: 15%;
  padding: 20px 20px 50px;
}
/* pricing section */
#pricing {
  padding: 8% 5%;
  text-align: center;
}
.pricing-col {
  padding: 3% 2%;
}
.card {
  height: auto;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    transform: rotate(0deg);
    position: static;
  }
}
/* call to action */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding-top: 60px;
}
/* footer */
#footer {
  background-color: white;
  text-align: center;
  padding: 10% 8%;
}
#footer p {
  font-family: "Monstserrat-Black", sans-serif;
  font-weight: 900;
  color: #8f8f8f;
  margin: 10% 0;
}
.footer-container {
  text-align: center;
  padding: 0 40%;
}
.icon-footer {
  font-size: 1.5rem;
}
